extends layout

block content
  h1= title

  if success
    h2 Successful Validation
  else
    if errors
      ul
        each error in errors
          li= error.msg
    form(method="post" action="/submit")
      label(for="email") Email:
      input(type="text", name="email")#email
      label(for="password") Password:
      input(type="password", name="password")#password
      label(for="confirmPassword") Confirm Password:
      input(type="text", name="confirmPassword")#confirmPassword
      button(type="submit") Sign Up