doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul
      li.
        myTe vvfewfdafg
        erwgare
        gaergergegr
    input(type='text').anyclass#anyid
    block content
